In [6]:
import pandas

In [7]:
%run ../data_generators/get_fantasy_pros.ipynb

http://www.fantasypros.com/nfl/rankings/qb.php
http://www.fantasypros.com/nfl/rankings/ppr-rb.php
http://www.fantasypros.com/nfl/rankings/ppr-wr.php
http://www.fantasypros.com/nfl/rankings/ppr-te.php
http://www.fantasypros.com/nfl/rankings/dst.php

In [8]:
%run ../data_generators/get_dk.ipynb

             player_name  salary
0     christianmccaffrey    9000
2              a.j.brown    8800
4             jalenhurts    8200
5             cooperkupp    7800
7           devontasmith    7300
..                   ...     ...
165       harrisonbryant    2500
167           hunterlong    2500
169           davisallen    2500
171        nikolakalinic    2500
173  zairemitchell-paden    2500

[96 rows x 2 columns]

In [9]:
week = input("Enter Week")
session = input("Enter session")

fp_df = pandas.read_csv('../backend/data/fantasy_pros.csv')
salary_df = pandas.read_csv('../backend/data/dk.csv')

complete_df = pandas.merge(fp_df, salary_df, how='left', left_on='player_name', right_on='player_name')

complete_df.rename(columns = {'r2p_pts':'projected_points'}, inplace = True)
complete_df.dropna(subset=['salary'], inplace=True)
complete_df["projected_points"].fillna(0, inplace = True)
complete_df.to_csv(f"../backend/data/week{week}_{session}.csv", index=False)

In [10]:


# complete_df.to_csv(f"data/{date}_mid.csv", index=False)