In [1]:
import pandas

In [2]:
%run ../data_generators/get_fantasy_pros.ipynb

http://www.fantasypros.com/nfl/rankings/qb.php
http://www.fantasypros.com/nfl/rankings/ppr-rb.php
http://www.fantasypros.com/nfl/rankings/ppr-wr.php
http://www.fantasypros.com/nfl/rankings/ppr-te.php
http://www.fantasypros.com/nfl/rankings/dst.php

In [3]:
%run ../data_generators/get_dk.ipynb

         player_name  salary
0     patrickmahomes    8000
1      saquonbarkley    8000
3        traviskelce    7400
5          dkmetcalf    7100
7      garrettwilson    6700
..               ...     ...
172  danielbellinger    2500
174    lawrencecager    2500
176     tommysweeney    2500
178        ryanjones    2500
180     tyreejackson    2500

[99 rows x 2 columns]

In [4]:
week = input("Enter Week")
session = input("Enter session")

fp_df = pandas.read_csv('../data/fantasy_pros.csv')
salary_df = pandas.read_csv('../data/dk.csv')

complete_df = pandas.merge(fp_df, salary_df, how='left', left_on='player_name', right_on='player_name')

complete_df.rename(columns = {'r2p_pts':'projected_points'}, inplace = True)
complete_df.dropna(subset=['salary'], inplace=True)
complete_df["projected_points"].fillna(0, inplace = True)
complete_df.to_csv(f"../data/week{week}_{session}.csv", index=False)

In [5]:


# complete_df.to_csv(f"data/{date}_mid.csv", index=False)